# Ignore virtual environments
venv/
.venv/

# Ignore IDE settings
.idea/

# Ignore macOS system files
.DS_Store
_MACOSX/

# Ignore local .env files
*.env

# Ignore other unwanted files
__pycache__/
*.pyc
